<div class="td-footer-wrapper td-footer-page td-container-wrap">
    <div id="td_uid_30_658d7db354dfe" class="tdc-zone">
        <div class="tdc_zone td_uid_63_658d7db354e0d_rand  wpb_row td-pb-row">
            <style scoped>
                /* custom css */
                .td_uid_63_658d7db354e0d_rand {
                    min-height: 0;
                }
            </style>
            <div id="td_uid_31_658d7db355125" class="tdc-row stretch_row">
                <div class="vc_row td_uid_64_658d7db355130_rand  wpb_row td-pb-row tdc-element-style">
                    <style scoped>
                        /* custom css */
                        .td_uid_64_658d7db355130_rand {
                            min-height: 0;
                        }

                        /* inline tdc_css att */

                        .td_uid_64_658d7db355130_rand {
                            padding-top: 60px !important;
                            position: relative;
                        }

                        .td_uid_64_658d7db355130_rand .td_block_wrap {
                            text-align: left
                        }

                        /* phone */
                        @media (max-width: 767px) {
                            .td_uid_64_658d7db355130_rand {
                                padding-top: 40px !important;
                            }
                        }

                        /* portrait */
                        @media (min-width: 768px) and (max-width: 1018px) {
                            .td_uid_64_658d7db355130_rand {
                                padding-top: 44px !important;
                            }
                        }
                    </style>
                    <div class="td_uid_31_658d7db355125_rand_style td-element-style"
                        style="opacity: 0; transition: opacity 1s;">
                        <style>
                            .td_uid_31_658d7db355125_rand_style {
                                background-color: #121020 !important;
                            }
                        </style>
                    </div>
                    <div
                        class="vc_column td_uid_65_658d7db3554e3_rand  wpb_column vc_column_container tdc-column td-pb-span12">
                        <style scoped>
                            /* custom css */
                            .td_uid_65_658d7db3554e3_rand {
                                vertical-align: baseline;
                            }
                        </style>
                        <div class="wpb_wrapper">
                            <div
                                class="vc_row_inner td_uid_66_658d7db35572c_rand  vc_row vc_inner wpb_row td-pb-row">
                                <style scoped>
                                    /* custom css */
                                    .td_uid_66_658d7db35572c_rand {
                                        position: relative !important;
                                        top: 0;
                                        transform: none;
                                        -webkit-transform: none;
                                    }

                                    /* inline tdc_css att */

                                    .td_uid_66_658d7db35572c_rand {
                                        padding-bottom: 30px !important;
                                    }

                                    .td_uid_66_658d7db35572c_rand .td_block_wrap {
                                        text-align: left
                                    }

                                    /* phone */
                                    @media (max-width: 767px) {
                                        .td_uid_66_658d7db35572c_rand {
                                            text-align: left !important;
                                        }
                                    }
                                </style>
                                <div
                                    class="vc_column_inner td_uid_67_658d7db355a29_rand  wpb_column vc_column_container tdc-inner-column td-pb-span4">
                                    <style scoped>
                                        /* custom css */
                                        .td_uid_67_658d7db355a29_rand {
                                            vertical-align: baseline;
                                        }

                                        /* inline tdc_css att */

                                        .td_uid_67_658d7db355a29_rand {
                                            width: 25% !important;
                                        }

                                        /* phone */
                                        @media (max-width: 767px) {
                                            .td_uid_67_658d7db355a29_rand {
                                                margin-bottom: 50px !important;
                                                width: 100% !important;
                                            }
                                        }

                                        /* portrait */
                                        @media (min-width: 768px) and (max-width: 1018px) {
                                            .td_uid_67_658d7db355a29_rand {
                                                width: 0% !important;
                                            }
                                        }
                                    </style>
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="tdm_block td_block_wrap tdm_block_inline_image td_uid_68_658d7db355f09_rand tdm-content-horiz-center td-pb-border-top td_block_template_1"
                                                data-td-block-uid="td_uid_68_658d7db355f09">
                                                <div class="tdm-inline-image-wrap"><img
                                                        class="tdm-image td-fix-index"
                                                        src="{{ url_for('static', filename='images/logo_light.png') }}" alt=""
                                                        title="lg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="vc_column_inner td_uid_69_658d7db357396_rand  wpb_column vc_column_container tdc-inner-column td-pb-span4">
                                    <style scoped>
                                        /* custom css */
                                        .td_uid_69_658d7db357396_rand {
                                            vertical-align: baseline;
                                        }

                                        /* inline tdc_css att */

                                        .td_uid_69_658d7db357396_rand {
                                            width: 41.66666667% !important;
                                        }

                                        /* phone */
                                        @media (max-width: 767px) {
                                            .td_uid_69_658d7db357396_rand {
                                                margin-bottom: 50px !important;
                                                width: 100% !important;
                                                text-align: left !important;
                                            }
                                        }

                                        /* portrait */
                                        @media (min-width: 768px) and (max-width: 1018px) {
                                            .td_uid_69_658d7db357396_rand {
                                                width: 60% !important;
                                            }
                                        }
                                    </style>
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="tdm_block td_block_wrap tdm_block_column_title td_uid_70_658d7db35776b_rand tdm-content-horiz-left td-pb-border-top td_block_template_1"
                                                data-td-block-uid="td_uid_70_658d7db35776b">
                                                <style>
                                                    /* inline tdc_css att */

                                                    .td_uid_70_658d7db35776b_rand {
                                                        width: 41.66666667% !important;
                                                    }

                                                    /* phone */
                                                    @media (max-width: 767px) {
                                                        .td_uid_70_658d7db35776b_rand {
                                                            width: 100% !important;
                                                            text-align: left !important;
                                                        }
                                                    }

                                                    /* portrait */
                                                    @media (min-width: 768px) and (max-width: 1018px) {
                                                        .td_uid_70_658d7db35776b_rand {
                                                            width: 100% !important;
                                                            text-align: left !important;
                                                        }
                                                    }
                                                </style>
                                                <div class="td-block-row">
                                                    <div class="td-block-span12 tdm-col">
                                                        <style>
                                                            body .td_uid_71_658d7db35850c .tdm-title {
                                                                color: #ffffff;
                                                            }

                                                            .td_uid_71_658d7db35850c .tdm-title {
                                                                font-size: 20px !important;
                                                                line-height: 1 !important;
                                                                font-weight: 400 !important;
                                                                text-transform: uppercase !important;
                                                            }
                                                        </style>
                                                        <div
                                                            class="tds-title tds-title1 td-fix-index td_uid_71_658d7db35850c">
                                                            <h3 class="tdm-title tdm-title-md">VỀ CHÚNG TÔI</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tdm_block td_block_wrap tdm_block_inline_text td_uid_72_658d7db358b03_rand tdm-content-horiz-left td-pb-border-top td_block_template_1"
                                                data-td-block-uid="td_uid_72_658d7db358b03">
                                                <style>
                                                    /* inline tdc_css att */

                                                    /* phone */
                                                    @media (max-width: 767px) {
                                                        .td_uid_72_658d7db358b03_rand {
                                                            text-align: left !important;
                                                        }
                                                    }
                                                </style>
                                                <style>
                                                    /* custom css */
                                                    .td_uid_72_658d7db358b03_rand .tdm-descr {
                                                        color: #eaeaea;
                                                    }

                                                    .td_uid_72_658d7db358b03_rand .tdm-descr {
                                                        font-size: 14px !important;
                                                        line-height: 21px !important;
                                                    }
                                                </style>
                                                <p class="tdm-descr">ChainNews - Nền tảng tin tức tiền mã hóa tại Việt Nam, cung cấp cái nhìn linh hoạt về thị trường và công nghệ blockchain. Theo dõi để nắm bắt xu hướng mới, dự án tiên tiến và phân tích sâu sắc, đáp ứng nhanh chóng nhu cầu của cộng đồng đầu tư.</br></br>
                                                    Email liên hệ : <a
                                                        href="mailto:mon@mona.media">chainnews@chainnews.media</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="vc_column_inner td_uid_73_658d7db35992f_rand  wpb_column vc_column_container tdc-inner-column td-pb-span4">
                                    <style scoped>
                                        /* custom css */
                                        .td_uid_73_658d7db35992f_rand {
                                            vertical-align: baseline;
                                        }

                                        /* inline tdc_css att */

                                        /* phone */
                                        @media (max-width: 767px) {
                                            .td_uid_73_658d7db35992f_rand {
                                                text-align: left !important;
                                            }
                                        }

                                        /* portrait */
                                        @media (min-width: 768px) and (max-width: 1018px) {
                                            .td_uid_73_658d7db35992f_rand {
                                                width: 35% !important;
                                            }
                                        }
                                    </style>
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="tdm_block td_block_wrap tdm_block_column_title td_uid_74_658d7db359b9c_rand tdm-content-horiz-left td-pb-border-top td_block_template_1"
                                                data-td-block-uid="td_uid_74_658d7db359b9c">
                                                <style>
                                                    /* inline tdc_css att */

                                                    .td_uid_74_658d7db359b9c_rand {
                                                        width: 41.66666667% !important;
                                                    }

                                                    /* portrait */
                                                    @media (min-width: 768px) and (max-width: 1018px) {
                                                        .td_uid_74_658d7db359b9c_rand {
                                                            width: 100% !important;
                                                        }
                                                    }

                                                    /* phone */
                                                    @media (max-width: 767px) {
                                                        .td_uid_74_658d7db359b9c_rand {
                                                            width: 100% !important;
                                                        }
                                                    }
                                                </style>
                                                <div class="td-block-row">
                                                    <div class="td-block-span12 tdm-col">
                                                        <style>
                                                            body .td_uid_75_658d7db35a65d .tdm-title {
                                                                color: #ffffff;
                                                            }

                                                            .td_uid_75_658d7db35a65d .tdm-title {
                                                                font-size: 20px !important;
                                                                line-height: 1 !important;
                                                                font-weight: 400 !important;
                                                                text-transform: uppercase !important;
                                                            }
                                                        </style>
                                                        <div
                                                            class="tds-title tds-title1 td-fix-index td_uid_75_658d7db35a65d">
                                                            <h3 class="tdm-title tdm-title-md">MẠNG XÃ HỘI</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tdm_block td_block_wrap tdm_block_socials td_uid_76_658d7db35ac42_rand tdm-content-horiz-left td-pb-border-top td_block_template_1"
                                                data-td-block-uid="td_uid_76_658d7db35ac42">
                                                <style>
                                                    /* inline tdc_css att */

                                                    /* phone */
                                                    @media (max-width: 767px) {
                                                        .td_uid_76_658d7db35ac42_rand {
                                                            justify-content: center !important;
                                                            text-align: center !important;
                                                        }
                                                    }
                                                </style>
                                                <style>
                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i {
                                                        font-size: 14px;
                                                        vertical-align: middle;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i.td-icon-twitter,
                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i.td-icon-linkedin,
                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i.td-icon-pinterest,
                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i.td-icon-blogger,
                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i.td-icon-vimeo {
                                                        font-size: 11.2px;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                        width: 39.2px;
                                                        height: 39.2px;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i {
                                                        line-height: 39.2px;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                        margin: 5px 10px 5px 0;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item-wrap:last-child .tdm-social-item {
                                                        margin-right: 0 !important;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item i,
                                                    .tds-team-member2 .td_uid_77_658d7db35bbdd.tds-social4 .tdm-social-item i {
                                                        color: #ffffff;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                        background: rgba(255, 255, 255, 0.03);
                                                    }

                                                    body .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                        border: 1px solid rgba(255, 255, 255, 0.03);
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-text {
                                                        display: none;
                                                    }


                                                    .td_uid_77_658d7db35bbdd .tdm-social-text {
                                                        margin-left: 2px;
                                                    }

                                                    .td_uid_77_658d7db35bbdd .tdm-social-text {
                                                        margin-right: 18px;
                                                    }

                                                    /* landscape */
                                                    @media (min-width: 1019px) and (max-width: 1140px) {
                                                        body .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                            border: 1px solid rgba(255, 255, 255, 0.03);
                                                        }
                                                    }

                                                    /* portrait */
                                                    @media (min-width: 768px) and (max-width: 1018px) {
                                                        body .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                            border: 1px solid rgba(255, 255, 255, 0.03);
                                                        }
                                                    }

                                                    /* phone */
                                                    @media (max-width: 767px) {
                                                        body .td_uid_77_658d7db35bbdd .tdm-social-item {
                                                            border: 1px solid rgba(255, 255, 255, 0.03);
                                                        }
                                                    }
                                                </style>
                                                <div
                                                    class="tdm-social-wrapper tds-social4 td_uid_77_658d7db35bbdd">
                                                    <div class="tdm-social-item-wrap"><a href="#"
                                                            class="tdm-social-item"><i
                                                                class="td-icon-font td-icon-facebook"></i></a><a
                                                            href="#" class="tdm-social-text">Facebook</a></div>
                                                    <div class="tdm-social-item-wrap"><a href="#"
                                                            class="tdm-social-item"><i
                                                                class="td-icon-font td-icon-twitter"></i></a><a
                                                            href="#" class="tdm-social-text">Twitter</a></div>
                                                    <div class="tdm-social-item-wrap"><a href="#"
                                                            class="tdm-social-item"><i
                                                                class="td-icon-font td-icon-vimeo"></i></a><a
                                                            href="#" class="tdm-social-text">Vimeo</a></div>
                                                    <div class="tdm-social-item-wrap"><a href="#"
                                                            class="tdm-social-item"><i
                                                                class="td-icon-font td-icon-youtube"></i></a><a
                                                            href="#" class="tdm-social-text">Youtube</a></div>
                                                    <div class="tdm-social-item-wrap"><a href="#"
                                                            class="tdm-social-item"><i
                                                                class="td-icon-font td-icon-vk"></i></a><a
                                                            href="#" class="tdm-social-text">VKontakte</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="td_uid_37_658d7db35c4f8" class="tdc-row stretch_row">
                <div class="vc_row td_uid_78_658d7db35c502_rand  wpb_row td-pb-row tdc-element-style">
                    <style scoped>
                        /* custom css */
                        .td_uid_78_658d7db35c502_rand {
                            min-height: 0;
                        }

                        /* inline tdc_css att */

                        .td_uid_78_658d7db35c502_rand {
                            position: relative;
                        }

                        .td_uid_78_658d7db35c502_rand .td_block_wrap {
                            text-align: left
                        }
                    </style>
                    <div class="td_uid_37_658d7db35c4f8_rand_style td-element-style"
                        style="opacity: 0; transition: opacity 1s;">
                        <style>
                            .td_uid_37_658d7db35c4f8_rand_style {
                                background-color: #0d0d0d !important;
                            }
                        </style>
                    </div>
                    <div
                        class="vc_column td_uid_79_658d7db35c8d1_rand  wpb_column vc_column_container tdc-column td-pb-span12">
                        <style scoped>
                            /* custom css */
                            .td_uid_79_658d7db35c8d1_rand {
                                vertical-align: baseline;
                            }
                        </style>
                        <div class="wpb_wrapper">
                            <div class="tdm_block td_block_wrap tdm_block_inline_text td_uid_80_658d7db35cb5d_rand tdm-content-horiz-left td-pb-border-top td_block_template_1"
                                data-td-block-uid="td_uid_80_658d7db35cb5d">
                                <style>
                                    /* inline tdc_css att */

                                    .td_uid_80_658d7db35cb5d_rand {
                                        margin-top: 2px !important;
                                        margin-bottom: 0px !important;
                                        padding-top: 8px !important;
                                        padding-bottom: 8px !important;
                                    }

                                    /* phone */
                                    @media (max-width: 767px) {
                                        .td_uid_80_658d7db35cb5d_rand {
                                            margin-top: 0px !important;
                                            justify-content: center !important;
                                            text-align: center !important;
                                        }
                                    }
                                </style>
                                <style>
                                    /* custom css */
                                    .td_uid_80_658d7db35cb5d_rand .tdm-descr {
                                        color: #cccccc;
                                    }

                                    .td_uid_80_658d7db35cb5d_rand .tdm-descr {
                                        font-size: 12px !important;
                                        line-height: 21px !important;
                                    }
                                </style>
                                <p class="tdm-descr">Copyright © 2023 by Chainnews</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>